@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Fira Sans Italic'), local('FiraSans-Italic'), url(https://fonts.gstatic.com/s/firasans/v8/va9C4kDNxMZdWfMOD5VvkrjJYTI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v8/va9E4kDNxMZdWfMOD5Vvl4jL.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans Bold'), local('FiraSans-Bold'), url(https://fonts.gstatic.com/s/firasans/v8/va9B4kDNxMZdWfMOD5VnLK3eRhf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, small, strike, strong, sub, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, .column {
  display: block;
}
* {
  box-sizing: border-box
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
}

.main a:hover {
  text-decoration: underline
}

html {
  height: 100%;
}
body {
  display:flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Fira Sans",
               -apple-system,
               "BlinkMacSystemFont",
               "Segoe UI",
               "Roboto",
               "Oxygen-Sans",
               "Ubuntu",
               "Cantarell",
               "Helvetica Neue",
               sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.45;
}
.main .content {
  font-size: 1.1em;
  width: 100vw;
  max-width: 32.5em;
  margin: 0 auto
}
.main .has-img-content {
  max-width: 100%
}
.container, .main {
  display: flex
}
.heading-initial {
  display: inline;
  font-size: 1em
}
.front-main .container.image {
  background-image: url("/pildid/esi_madal.jpg");
  height: 33vw;
  max-height: 1440px;
  min-height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center
}
.front-main .container {
  font-size: 1.5em;
}
.front-main .container, .feed {
  padding: 1em 2em
}
.header {
  width: 100%;
  bottom: 0;
  padding: .7em 0;
  z-index: 2
}
.header nav ul {
  list-style: none;
  text-align: center
}
.header li {
  display: inline-block
}
.header li a {
  padding: 1em .55em;
}
.header li:first-child a {
  padding-left: .9em;
}
.main-page {
  font-style: italic
}
.header nav ul li:first-child {
  margin-left: 0
}
.header nav ul li:last-child {
  margin-right: 0
}
.header nav ul a {
  font-size: .875em;
  text-transform: uppercase
}
.main, .main .content .title-container {
  margin: 0 auto
}
.main .content .page-heading {
  margin: 0 0 .2em 0;
}
.main .content .meta {
  margin-bottom: 2em;
}
.middot:before {
  font-size: 1em;
  line-height: .6em;
  vertical-align: middle;
  margin: 0 0.375em;
  content: "•";
}
.groupby {
  font-size: 1.2em;
  margin-top: 1em;
}
.see-more {
  font-style: italic;
  float: right;
  font-size: 0.9em;
  margin-top: 2em;
}
.header nav ul {
text-align: left;
}
.main {
  margin: 1em auto 4.625em auto;
  flex: 1
}
footer {
  float: right;
  margin-left: auto;
  margin-right: 1em
}
a, time {
  -webkit-transition: color, background 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  -ms-transition: color, background 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
  transition: color, background 0.1s cubic-bezier(0.47, 0, 0.75, 0.72)
}
img {
  max-width: 100%;
}
.main .content>.markdown>p:first-child {
  margin-top: .5em
}
.dark-transparent {
    background: rgba(9, 9, 5, 0.69);
}
@media (min-width: 769px) {
  .other-projects {
    max-width: 57em;
    margin: 1em 12em 0 -12em
  }
  .main .has-img-content {
    max-width: 57vw;
  }
  .front-matter, aside, figcaption, .text, .has-img ol, .has-img ul, .has-img h2, .has-img blockquote {
    display: block;
    float: left;
    width: 13em;
    margin-left: -14.5em;
    text-align: right;
    list-style-type: none;
  }
  .narrow .content {
    padding-top: 1.5em;
    margin-left: 13em
  }
}

.markdown.desc {
  font-size: 1.15em
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 1.75em;
}
h1 {
  line-height: 1;
  font-size: 2em;
  margin: 0 0 .25em 0
}
h2 {
  font-size: 1.75em;
  margin: .2em 0 .2em 0;
}
h3, h4, h5, h6 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.main .content .markdown p {
  margin-bottom: .75em
}
.main .content .markdown .text {
  margin-bottom: .25em
}
.main .content .markdown ul,
.main .content .markdown ol,
.main .content .markdown dl {
  margin-top: 1em;
  margin-bottom: 2em;
}
.main .content .markdown dt {
  font-weight: bold;
}
.main .content .markdown dd {
  margin-bottom: .5em;
}
.posts {
  display: inline-block;
  position: relative;
  width: 100%;
}
.front-posts img {
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  width: 100vw;
  height: auto;
  z-index: -1;
}
.other-projects {
  font-size: 1.1em;
  width: 100%;
}
.feed {
  text-align: left
}
.feed a {
    text-shadow: 1px 1px 3px #000;
}
.post-item {
  min-width: 20em;
  display: inline-block;
  margin: 1em 1em 1em 0;
  vertical-align: top;
  min-height: 5em;
  background-position: center;
}
@media (max-width: 70em) {
  .post-item {
    width: 31%;
    margin-right: 1%
  }
}
@media (max-width: 55em) {
  .post-item {
    width: 48%
  }
}
@media (max-width: 35em) {
  .post-item {
    width: 98%;
    min-width: auto;
    display: block;
    margin: 0 auto 1em auto
  }
  .feed h1 {
    display: block;
    width: 100%;
    max-width: 20em;
    margin: 0 auto
  }
  .feed, .front-main .container {
    padding: .5em
  }
}
.other-projects .post-item {
  padding: 0 1em 0 0
}
.other-projects .post-item, .other-projects h2 {
  display: inline-block
}
.front-main .content {
}
.posts ul {
  margin-top: 1em
}
.other-projects ul {
  display: inline;
  margin: 0
}
.posts a, .posts li>a {
  display: inline-block;
  background: rgba(74,67,72,.75);
  padding: 0.15em 0.4em 0.15em 0.4em;
  margin: .2em;
}
.other-projects a, .other-projects li>a {
  background: rgba(0,0,0,0.1);
  margin: 0;
  margin-right: .4em
}
.posts a:hover {
  background: #4a4348
}
.main .content .markdown ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-bottom: 1.25em;
}
.main .content .markdown ol {
  list-style-type: decimal;
  margin-bottom: 1.25em;
}
.main .content .markdown li {
  margin-left: 1em;
}
hr {
  position: relative;
  margin: 1.75em 0;
  border: 0;
  border-top: 1px solid #999;
}
.main .content .markdown abbr {
  font-size: 0.85em;
  font-weight: bold;
  text-transform: uppercase;
}
.main .content .markdown blockquote {
  padding: .5em 1em;
  margin: .8em 0;
  border-left: .25em solid #e5e5e5;
}
.main .content .markdown blockquote p:last-child {
  margin-bottom: 0;
}
.img, .main .markdown .img {
  width: 100%;
  background: rgba(0,0,0,.05);
}
.img-inner {
  margin: 0 auto;
}
.img-inner img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
  position: static;
  margin: auto;
  max-height: calc(100vh - 4em)
}
.full-height img {
  max-height: 100%
}
.img {
  display: block;
  width: auto;
}
.row-img {
  display: table-cell
}
.copyright, .middot, .inlineblock, footer, .header nav {
  display: inline-block
}
.container {
    padding: 1em;
}
.header .mobile-show, .mobile-show {
  display: none
}
@media (max-width: 768px) {
  .front-main .container {
    background-image: none;
    font-size: 1.1em
  }
  .front-main .content {
    min-height: 100%;
  }
  .main {
    margin: 1.5em .6em 3.875em .6em
  }
  .front-posts img {
    height: 75vw
  }
  footer .middot {
    display: none
  }
  .header nav .mobile-show {
    display: inline-block
  }
}

@media (max-width: 600px) {
  .main {
    padding-top: 0;
  }
  .post-item .meta {
    display: block;
  }
  .main .content .markdown blockquote {
    padding-right: 5em;
    padding-left: 1.25em;
  }
}

@media (max-width: 370px) {
  .header li a {
    padding: 1em .5em;
  }
  .header {
    padding: .66em .3em .66em .3em;
  }
  .header nav {
    padding-right: 1em
  }
}
@media (max-width: 277px) {
  .header li a {
    padding-bottom: 0;
    padding-top: .5em
  }
  .main {
    margin-bottom: 4.25em
  }
}
@media (max-width: 260px) {
  .front-main .mobile-show {
    margin-left: 1em
  }
  .front-main {
    padding: 0 1em
  }
  .post-item {
    padding: 0
  }
}
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000
}
.youtube:hover .yt {
  fill: #f00;
  fill-opacity: 1
}
.yt {
  transition: fill .1s cubic-bezier(0.4,0.0,1,1),fill-opacity .1s cubic-bezier(0.4,0.0,1,1)
}
.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}
.youtube img {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
}
.youtube .play {
  height: 48px;
  width: 68px;
  left: 50%;
  top: 50%;
  margin-left: -34px;
  margin-top: -24px;
  position: absolute;
  cursor: pointer;
}
code {
  padding: 0 .3em;
  background: rgba(255,255,255,.1)
}
