<div class="container">
    <a href="/">← Tagasi kodulehele</a>
</div>
<div class="main column">
    <main role="main" class="content">
        <h1>{{ .Title }}</h1>
        <div class="markdown">
            {{ partial "content" . }}
        </div>
    </main>
</div>
