{{- $contentperline := split (.Content) "\n" }}
<div class="main post narrow column">
    <div class="container">
        <a href="/">← Tagasi kodulehele</a>
    </div>
    <div class="content {{ if findRE "<img.*>" .Content }}has-img-content{{ end }}">
        <main>
            <div class="front-matter">
                <h1 class="page-heading">
                    {{ .Title }}
                </h1>
                {{ with .PublishDate }}
                    <p>Published on <time title="{{ .Format "2006-01-02" }}" datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">{{ .Format "January 2, 2006" }}</time></p>
                {{ end }}
                {{ with .Params.dateofdeath }}
                    <p>Shut down on <time title="{{ dateFormat "2006-01-02" . }}" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" . }}">{{ dateFormat "January 2, 2006" . }}</time></p>
                {{ end }}
                {{ with .Params.Developer }}
                    <p>Developer: {{ . }}</p>
                {{ end }}
                {{ with .Params.Publisher }}
                    <p>Publisher: {{ . }}</p>
                {{ end }}
                {{ with .Params.Steam }}
                    <p><a href="{{ . }}">View on Steam</a></p>
                {{ end }}
            </div>
            {{- if findRE "<img.*>" .Content }}
                <div class="markdown desc">
                    {{- range first 1 $contentperline }}
                        {{- .|safeHTML }}
                    {{- end }}
                </div>
            {{- end }}
            {{- if findRE "<img.*>" .Content }}
                <div class="markdown has-img">
                    {{- range after 1 $contentperline }}
                        {{ replaceRE "<p>([A-Za-z0-9])" "<p class='text'>$1" . | safeHTML }}
                    {{- end }}
                </div>
            {{- else }}
                <div class="markdown">
                    {{ .Content }}
                    <p><a href="https://github.com/deadgamenews/deadgamenews.org-dev/edit/master/content/{{ .Dir | replaceRE "\\\\" "/" }}index.md">Edit this page on Github</a>
                    <br>
                    <a href="https://github.com/deadgamenews/deadgamenews.org-dev/blob/master/content/{{ .Dir | replaceRE "\\\\" "/" }}index.md">View this page on Github</a></p>
                    <p>(NOTE: Which one of these two links should I keep?)</p>
                </div>
            {{- end }}
        </main>
<!--        {{- $pagetitle := .Title -}}
        <section class="posts other-projects">
            {{-  range (where .Site.Pages "Section" "games").GroupByDate "" -}}
                {{-  range first 1 (sort .Pages "Date" "desc") -}}
                    <h2>
                        <a href="/"><span>Dead games</span></a>
                    </h2>
                {{- end -}}
                <ul id="projects">
                    {{-  range sort .Pages "Date" "desc" -}}
                        {{ if ne (lower .Title) (lower (T "projects")) }}{{ if (ne .Title $pagetitle) }}
                            <li class="post-item">
                                <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
                            </li>
                        {{- end -}}{{- end -}}
                    {{-  end -}}
                </ul>
            {{-  end -}}
        </section>-->
    </div>

</div>
