{{ partial "footer_scripts" . }}

<div class="container dark copyright">
<p>© Hanni, Tuuling, Õunapuu, Puhk, Tikk 2019
<br>Ekke Tuuling - programmeerimine
<br>Kristjan-Paul Hanni, Urmo Õunapuu - fotograafia, tausta kujundus
<br>Hans Erik Puhk, Urmas Õunapuu, Kaspar Tikk - kirjutamine </p>
</div>
</body>
</html>
