{{ partial "header.html" . }}
<div class="front-main column">
    <div class="container image">
    </div>
    <div class="container dark-transparent">
        <section class="content">
            {{ range where .Data.Pages "Title" "Home" }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
        </section>
    </div>
    <div class="feed">
    {{ range .Pages.GroupByPublishDate "" }}
        {{ range sort .Pages "Date" "desc" }}
            {{$thumbnail := ""}}
            {{ with .Resources.GetMatch "*.jpg" }}
                {{ $thumbnail = (.Fill "480x200").Permalink }}
            {{ end }}
            {{if ne .Dir "" }}
            <section class="post-item {{ .Params.Status }} container" style="background-image: url({{ $thumbnail }})">             <h2>
                    <a href="{{ .Permalink }}">
                        {{ .Title }}
                    </a>
                </h2>
            </section>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
    <div class="container">
        <a style="margin-right: 1em" href="https://docs.google.com/forms/d/e/1FAIpQLSdcG7h2biV-W2jIGBDxfnuR
knzDcEuZflPai6khOH_HMC2H2w/viewform"><img src="/pildid/küsimustik.png" alt=""/></a>
        <div class="markdown">
            <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSdcG7h2biV-W2jIGBDxfnuR
knzDcEuZflPai6khOH_HMC2H2w/viewform">Kooliküsitlus</a></h2>
            <p>Täida toredat küsitlust meie kooli kohta!</p>
        </div>
    </div>
</div>
{{ partial "footer.html" . }}
